#!/usr/local/bin/php -n
<?php
$PLUGIN_NAME='Mail Control Plugin';
$PLUGIN_YEAR=2017;
$CHARSET='windows-1251';

include('common.php');
ini_set('display_errors',1);
setTimezone('UTC');

$callout_by_default=@file_get_contents('callout_by_default');

$dir=$_ENV['HOME'].'/.plugins/mail_control';
if (!@is_dir($dir)) mkdir_r($dir);

$flags=array(
    'check_reverse',
    'greylist',
    'ignore_suspicious',
    'discard_bounces',
    'rbl_abuseat_off',
    'rbl_sorbs_off',
    'rbl_spamcop',
    'from_check_off',
    'from_check_smtp',
    'av_off',
    'av_unofficial',
    'av_spam',
    'av_keep',
    ($callout_by_default?'callout_off':'callout'),
    );
foreach ($flags as $key) {
    $settings[$key]=@file_exists("$dir/$key");
    $checked[$key]=($settings[$key]?'checked':'');
    if (preg_match('#^(\w+)_off$#',$key,$m)) $checked["$m[1]"]=($settings[$key]?'':'checked');
}
foreach (array('whitelist_senders','noreply_addresses','noscan_addresses','from_addresses') as $key)
    $lists[$key]=@file_get_contents("$dir/$key");

if ($_POST) {
    foreach ($flags as $key) {
	if (!$_POST[$key] && preg_match('#^(\w+)_off$#',$key,$m)) $_POST[$key]= !$_POST["$m[1]"];
	if ($_POST[$key]) touch("$dir/$key");
	else @unlink("$dir/$key");
    }
    foreach ($lists as $key=>$val) if (isset($_POST[$key])) {
        $_POST[$key]=trim(preg_replace("#\r\n?#","\n",$_POST[$key]));
        if ($_POST[$key] OR $key=='from_addresses') {
            $tmpname=tempnam($dir, "$key.");
            if (file_put_contents($tmpname,"$_POST[$key]\n")) {
                rename($tmpname,"$dir/$key");
                chmod("$dir/$key", 0644);
            }
            else @unlink($tmpname);
        } else @unlink("$dir/$key");
    }
    message ($txt['Saved'],"<p><a href='?domain={$params['domain']}'>{$txt['Back']}</a></p>");
} else {
    if (!$callout_by_default) $callout_str="<tr><td class=list align=center><input type=checkbox name=callout {$checked['callout']}></td><td class=list>{$txt['EnableCallout']}</td></tr>";
    else $callout_str="<tr><td class=list align=center><input type=checkbox name=callout_off {$checked['callout_off']}></td><td class=list>{$txt['DisableCallout']}</td></tr>";
    $av_style=(@file_exists('/var/run/clamav/clamd.sock')?'':'style=display:none');
    echo <<<END
<p>
<form id=main name=main method=post>
<table background=#FFFFFF cellpadding=3 cellspacing=1 width=750>
<tr><td class=listtitle colspan=2>{$txt['GeneralSettings']}</td></tr>
<tr><td class=list align=center><input type=checkbox name=check_reverse {$checked['check_reverse']}></td><td class=list>{$txt['EnableReverse']}</td></tr>
<tr><td class=list2 align=center><input type=checkbox name=greylist {$checked['greylist']}></td><td class=list2>{$txt['EnableGreylisting']}</td></tr>
$callout_str
<tr><td class=list2 align=center><input type=checkbox name=ignore_suspicious {$checked['ignore_suspicious']}></td><td class=list2>{$txt['DisableSuspicious']}</td></tr>
<tr><td class=list align=center><input type=checkbox name=discard_bounces {$checked['discard_bounces']}></td><td class=list>{$txt['DiscardBounces']}</td></tr>
<tr><td colspan=2><p style='FONT-SIZE: 7pt'>{$txt['SuspiciousNote']}</p></td></tr>

<tr><td class=listtitle colspan=2>{$txt['RblSettings']}</td></tr>
<tr><td class=list align=center><input type=checkbox name=rbl_abuseat {$checked['rbl_abuseat']}></td>
<td class=listwrap>{$txt['RblAbuseat']}</td></tr>
<tr><td class=list2 align=center><input type=checkbox name=rbl_sorbs {$checked['rbl_sorbs']}></td>
<td class=listwrap2>{$txt['RblSorbs']}</td></tr>
<tr><td class=list align=center><input type=checkbox name=rbl_spamcop {$checked['rbl_spamcop']}></td>
<td class=listwrap>{$txt['RblSpamcop']}</td></tr>

</table>
<table background=#FFFFFF cellpadding=3 cellspacing=1 width=750>
<tr><td class=listtitle colspan=2>{$txt['Whitelist']}</td></tr>
<tr><td class=list><textarea name=whitelist_senders cols=40 rows=5 wrap=off>{$lists['whitelist_senders']}</textarea></td>
<td class=listwrap>{$txt['WhitelistComment']}</td></tr>
<tr><td colspan=2>&nbsp;</td></tr>

<tr><td class=listtitle colspan=2>{$txt['FromCheck']}</td></tr>
<tr><td class=list colspan=2><input type=checkbox name=from_check {$checked['from_check']}>{$txt['FromCheckScript']}</td>
<tr><td class=list2 colspan=2><input type=checkbox name=from_check_smtp {$checked['from_check_smtp']}>{$txt['FromCheckSmtp']}</td>
<tr><td class=list><textarea name=from_addresses cols=40 rows=4 wrap=off>{$lists['from_addresses']}</textarea></td>
<td class=listwrap>{$txt['FromCheckComment']}</p></td></tr>
<tr><td colspan=2>&nbsp;</td></tr>

</table>
<table background=#FFFFFF cellpadding=3 cellspacing=1 width=750 $av_style>
<tr><td class=listtitle colspan=2>{$txt['AvSettings']}</td></tr>
<tr><td class=list align=center><input type=checkbox name=av {$checked['av']}></td>
    <td class=listwrap>{$txt['AvEnable']}</td></tr>
<tr><td class=list2 align=center><input type=checkbox id=av_unofficial name=av_unofficial {$checked['av_unofficial']} onchange='if (!this.checked) {document.main.elements.av_spam.checked=false}'></td>
    <td class=listwrap2>{$txt['AvUnofficial']}</td></tr>
<tr><td class=list align=center><input type=checkbox id=av_spam name=av_spam {$checked['av_spam']} onchange='if (this.checked) {document.main.elements.av_unofficial.checked=true}'></td>
    <td class=listwrap>{$txt['AvSpam']}</td></tr>
<tr><td class=list2 align=center><input type=checkbox name=av_keep {$checked['av_keep']}></td>
    <td class=listwrap2>{$txt['AvKeep']}</td></tr>
</table>
<table background=#FFFFFF cellpadding=3 cellspacing=1 width=750 $av_style>
<tr><td class=listtitle colspan=2>{$txt['Noscan']}</td></tr>
<tr><td class=list><textarea name=noscan_addresses cols=40 rows=3 wrap=off>{$lists['noscan_addresses']}</textarea></td>
<td class=listwrap>{$txt['NoscanComment']}</p></td></tr>
<tr><td colspan=2>&nbsp;</td></tr>
</table>

<table background=#FFFFFF cellpadding=3 cellspacing=1 width=750>
<tr><td class=listtitle colspan=2>{$txt['Noreply']}</td></tr>
<tr><td class=list><textarea name=noreply_addresses cols=40 rows=4 wrap=off>{$lists['noreply_addresses']}</textarea></td>
<td class=listwrap>{$txt['NoreplyComment']}</p></td></tr>
<tr><td colspan=2>&nbsp;</td></tr>

</table>
<input type=submit value='{$txt['Save']}'>
</form>
</p>
END;
}

//echo '<xmp>'; phpinfo(INFO_ENVIRONMENT+INFO_VARIABLES); echo '</xmp>';

echo $PAGE_FOOTER;

if (!function_exists('file_put_contents')) {
    define('FILE_APPEND', 1);
    function file_put_contents($n, $d, $flag = false) {
        $mode = ($flag == FILE_APPEND || strtoupper($flag) == 'FILE_APPEND') ? 'a' : 'w';
        $f = @fopen($n, $mode);
        if ($f === false) {
            return 0;
        } else {
            if (is_array($d)) $d = implode($d);
            $bytes_written = fwrite($f, $d);
            fclose($f);
            return $bytes_written;
        }
    }
}
